/*COLORS

blue: #17a2b8;
gold: #E7C45D;

text: #6E7E85;
background: #f8f6f0;
background: #f2e6ce;

black: #1C0F13;

*/

@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
button {
  background-color: #17a2b8;
  color: #FFF;
  transition: 0.5s;
}

button:hover {
  background-color: #E7C45D!important;
  border-color: #E7C45D!important;
}

.selected {
  background-color: #E7C45D!important;
}

body {
  background: url('../images/HM-china.png') repeat;
  background-color: #f2e6ce;
  font-size: 20px;
  font-family: 'Lora', sans-serif;
  color: #363640;
  font-weight: 400;
}

.logo {
  left: 1%;
  max-height: 100px;
  min-height: 42px;
  width: 225px;
}

.card {
  box-shadow: 0 0 25px rgba(0, 0, 0, .25);
}

.card-header {
  background-color: #17a2b8;
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  /* padding: .75rem 0;
  margin-bottom: 0; */
}

.inline-logo {
  background: url("../images/HM-china.png");
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  margin-top: -.75rem;
  margin-bottom: .65rem;
  padding: .25rem 0;
}

.question {
  color: #1C0F13;
}